.footer {
  background: #1e2022;
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      margin-top: 15px;
      color: white;
      a {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .footer {
    font-size: 10px;
    svg {
      width: 20px;
      height: 10px;
    }
  }
}
